{% extends 'base.html.twig' %}

{% block title %}Draw Card | MVC Course{% endblock %}

{% block body %}
    <h1>Draw Card</h1>
    
    <p>You drew a card from the deck. There are {{ remaining }} cards left.</p>
    
    <div class="action-links">
        <a href="{{ path('card_draw') }}" class="btn">Draw Another Card</a>
        <a href="{{ path('card_draw_multiple', {number: 5}) }}" class="btn">Draw 5 Cards</a>
        <a href="{{ path('card_shuffle') }}" class="btn">Shuffle Deck</a>
    </div>
    
    <h2>Drawn Card</h2>
    <div class="card-hand">
        {% for card in cards %}
            {{ card.getAsHtml()|raw }}
        {% endfor %}
    </div>
    
    <div class="action-links">
        <a href="{{ path('card_index') }}" class="btn">Back to Card Game</a>
    </div>
{% endblock %}