<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}MVC Course{% endblock %}</title>
        <link rel="stylesheet" href="/~maix24/dbwebb-kurser/mvc/me/report/public/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <h1>MVC Course Report</h1>
            </div>
        </header>
        
        <nav>
            <div class="container">
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('report') }}">Report</a></li>
                    <li><a href="{{ path('card_index') }}">Card Game</a></li>
                    <li><a href="{{ path('lucky') }}">Lucky Number</a></li>
                    <li><a href="{{ path('api_index') }}">API</a></li>
                </ul>
            </div>
        </nav>

        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="container">
                <p>MVC Course @ BTH | <a href="https://github.com/Haniawatah/mvc-me-report">GitHub Repository</a></p>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>